<?php
/**
 * PHP version 5.5
 *
 * This source file is subject to the license that is bundled with this package in the file LICENSE.
 */
$configuration = [
    'app' => [
        'view' => new \Slim\Views\Twig(),
        'templates.path' => 'app/templates',
        'mode' => ##app.env##,
    ],
    'twig' => [
        'cache' => 'var/cache',
    ],
];
